framework: netstandard2.0
source https://nuget.org/api/v2

nuget Fsharp.Core lowest_matching: true
nuget FSharp.Control.AsyncSeq

github fsprojects/FSharpx.Collections src/FSharpx.Collections/CircularBuffer.fs

group build-gr
    
    source https://nuget.org/api/v2

    nuget FSharp.Formatting
    nuget FAKE ~> 4
    nuget SourceLink.Fake
    github fsharp/FAKE modules/Octokit/Octokit.fsx

group test-gr

    source https://nuget.org/api/v2

    nuget NUnit
    nuget NUnit.Runners